@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-img1 {
  background-image: url("https://images.unsplash.com/photo-1502364271109-0a9a75a2a9df?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
}

.custom-img2 {
  background-image: url("https://images.unsplash.com/photo-1506792414820-cb2372220c8c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
}

.custom-img3 {
  background-image: url("https://images.unsplash.com/photo-1589047133531-570405874c6a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
}

.custom-img4 {
  background-image: url("https://images.unsplash.com/photo-1625668742946-4ade4980c01e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
}

.custom-img5 {
  background-image: url("https://images.unsplash.com/photo-1604498149220-bfb7c7cfd19b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
}

.custom-img6 {
  background-image: url("./components/Images/background.png");
  width: screen;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  /* background-color:#1c1917 */
}

